mixin navItem(url, text)
  li(class=env.helpers.navClass(page, url))
    a(href=env.helpers.htmlUrl(page, url))=text

doctype HTML
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title o42a » #{page.title}
    link(
        rel="stylesheet",
        href=env.helpers.relativeUrl(page, "css/bootstrap.min.css"))
    if locals.ga
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
           ga('create', '#{locals.ga.code}', '#{locals.ga.host}');
        ga('send', 'pageview');
  body
    header(class="navbar navbar-fixed-top navbar-inverse", role="navigation")
      div(class="navbar-header")
        ul(class="nav navbar-nav")
          li: a(
              href=env.helpers.htmlUrl(page, 'index.html'),
              class="navbar-brand",
              title="o42a Programming Language") o42a
        ul(class="nav navbar-nav")
          +navItem("docs/intro/features", "Features")
          +navItem("docs/", "Documentation")
          +navItem("devel/", "Development")
          +navItem("downloads", "Downloads")
    div(class="container-fluid")
      div(class="row")
        -var breadcrumbs = env.helpers.breadcrumbs(page);
        if breadcrumbs
          ol(class="breadcrumb visible-md visible-lg")
            each parent in breadcrumbs
              li: a(href=parent.url)=parent.title
            li(class="active")=page.title
        if !breadcrumbs
          span(class="visible-md visible-lg") &nbsp;
      div(class="row")
        block content
          article(class="col-xs-12")
            block article
              !=env.helpers.renderPage(page)
    footer(class="footer")
      p Powered by&nbsp;
        a(href="http://wintersmith.io") Wintersmith
      p: a(href=env.helpers.relativeUrl(page, "imprint.html")) Imprint
